body {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.canvas-container {
    width: 100%;
    height: 90vh;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* min-height: max-content; */
}

.drag-n-drop{
    /* display: block; */
    left: 0;
    right: 0;
    position: absolute;
    width: 99vw;
    height: 99vh;
    pointer-events: none;
    z-index: 10;
}